.fermier{
    width: 100px ;   
    height: 150px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.grajd-cat{
 border:2px solid black;
 width: 250px;
 height: 250px;
position: absolute;
top: 20%;
left: 50%;
transform: translate(-50%, -50%);
}

.grajd-pig{
    border:2px solid black;
    width: 250px;
    height: 250px;
   position: absolute;
   top: 50%;
   left: 80%;
   transform: translate(-50%, -50%);
}

.grajd-horse{
    border:2px solid black;
    width: 250px;
    height: 250px;
   position: absolute;
   top: 50%;
   left: 20%;
   transform: translate(-50%, -50%);
}

.grajd-dog{
    border:2px solid black;
    width: 250px;
    height: 250px;
   position: absolute;
   top: 80%;
   left: 50%;
   transform: translate(-50%, -50%);
}